:root {
  --red: #f8544e;
  --hoverRed: #ff716c52;
  --green: #1cad5b;
  --hoverGreen: #43e63d60;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.decorB,
.downloadB {
  font-size: 24px;
  background-color: #e4ffec;
  text-decoration: none;
  padding: 14px 18px;
  margin: 0px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  cursor: pointer;
  font-family: Balsamiq Sans;
}

.decorB {
  float: left;
  color: var(--red);
  border: 3px solid var(--green);
  border-left: none;
  transition: background-color 0.08s linear;
}

.decorB:first-child {
  border-left: 3px solid var(--green);
}

.decorB:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.decorB:hover:enabled {
  background-color: var(--hoverRed);
}

.selected {
  background-color: var(--hoverGreen);
}

.disabled {
  color: #e45651c7;
  background-color: #c5e2ce;
  border-color: #1f9b55cc;
  cursor: not-allowed;
}

.downloadB {
  float: right;
  color: var(--green);
  border: 3px solid var(--green);
  transition: background-color 0.08s linear;
}

.downloadB:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.downloadB:hover {
  background-color: var(--hoverGreen);
}

#canvas {
  cursor: pointer;
}

@font-face {
  font-family: Balsamiq Sans;
  src: url("BalsamiqSans-Regular.ttf");
}

/* 1200px and down */
@media only screen and (max-width: 1200px) {
  .decorB,
  .downloadB {
    font-size: 20px;
    padding: 12px 16px;
  }
}

/* 1020px and down */
@media only screen and (max-width: 1020px) {
  .decorB,
  .downloadB {
    font-size: 18px;
    padding: 10px 14px;
  }
}
